{% extends 'forms/base_form.html.twig' %}

{% block title %}Zmień hasło{% endblock %}

{% block body %}
    {{ form_start(requestForm) }}
    <h1>Zmień hasło</h1>
    <hr>
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="field">
        {{ form_widget(requestForm.email) }}
        {{ form_label(requestForm.email) }}
        <span></span>
    </div>
    <button class="btn btn-primary">Wyślij wiadomość mail</button>
    {{ form_end(requestForm) }}
{% endblock %}
