{% extends 'forms/base_form.html.twig' %}

{% block title %}Zmień hasło{% endblock %}

{% block body %}
    {{ form_start(resetForm) }}
        <h1>Zmień hasło</h1>
        <hr>
        {% for flash_error in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}
        <div class="field">
            {{ form_widget(resetForm.plainPassword.first) }}
            {{ form_label(resetForm.plainPassword.first) }}
            <span></span>
        </div>
        <div class="field">
            {{ form_widget(resetForm.plainPassword.second) }}
            {{ form_label(resetForm.plainPassword.second) }}
            <span></span>
        </div>
        <button class="btn btn-primary">Zmień hasło</button>
    {{ form_end(resetForm) }}
{% endblock %}
